# Environment variables
.env

# Virtual Environments
venv/
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary / Output files
temp_audio*

# IDEs
.vscode/
.idea/